body{
    font-family: Fonts
    Poppins,Georgia, 'Times New Roman', Times, serif;
}
footer{
    margin-top:150px;
    background-color: rgba(233, 218, 218, 0.308);
    margin-bottom: 20px;
}

.icon {
    display: flex;
    margin-left: 120px;
    margin-bottom: 10px;

}
.icon img{
    height: 60px;
    width:60px;
    margin-right: 20px;
   
}
.image{
    height: 500px;
    width:800px;
}

@media ( (max-width: 600px)){
    footer{
        display:flex;
        flex-wrap: wrap;
    }

}